package components

templ Button(classes string, hxUrl string, hxTarget string, hxSwap string, method string, label string) {
	<button
		class="btn {classes}"
		type="submit"
		hx-target={ hxTarget }
		hx-trigger="click"
		hx-swap="{hxSwap}"
		if method=="get" {
			hx-get={ hxUrl }
		}
		if method=="post" {
			hx-post={ hxUrl }
		}
		if method == "put" {
			hx-put={ hxUrl }
		}
	>
		{ label }
	</button>
}
